:root{
    --font-family: 'Raleway';

    --color-black: #2C2D35;
    --color-black-alternate: #4C5866;
    --color-dark-with-opacity: #0D2B43;
    --color-dark-gray: #86928B;
    --color-gray-and-green: #C3D1C6;
    --color-light-gray: #C4C4C4;
    --color-dark-white: #F4F6F5;
    --color-white: #fff;
    --color-green: #598D66;
    --color-light-green: #D4E8D9;
    --color-ligth-light-green: #E1EDE6;
    --color-dark-green: #376B44;
    --color-sea: #D4E8D9;
    --color-yellow: #EEDB6D;
    --color-light-yellow: #FAEB97;
    --color-brown: #A38314;
    --color-ohra: #D9B949;
    
    --transition-duration: .2s;
    --transition: all var(--transition-duration) ease;

    --container-width: 1110px;
}

@media screen and (max-width: 1200px){
    :root{
        --container-width: 690px;
    }
}

@media screen and (max-width: 768px){
    :root{
        --container-width: 510px;
    }
}

@media screen and (max-width: 500px) {
    :root{
        --container-width: 290px;
    }
}